---
import { Image } from "astro:assets";
import TsLogo from "~/assets/logos/ts-logo-round-128.svg";
import ReactLogo from "~/assets/logos/react-logo.svg";
import NextJsLogo from "~/assets/logos/next-js-logo.svg";
import GoLogo from "~/assets/logos/go-logo_aqua.svg";
import PrismaLogo from "~/assets/logos/prisma-logo.svg";
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div class="w-80 border pb-2">
  <h2 class="px-4 pb-2 pt-3">
    {title}
  </h2>
  <Image
    src="https://placehold.co/600x400"
    alt="Image Placeholder"
    width={320}
    height={500}
  />

  <p class="px-4 py-2">
    {body}
  </p>
  <hr />
  <ul class="flex gap-x-1 px-4 pb-2 pt-4">
    <li>
      <Image width={24} height={24} src={TsLogo} alt="TypeScript logo" />
    </li>
    <li>
      <Image width={24} height={24} src={ReactLogo} alt="React logo" />
    </li>
    <li>
      <Image width={24} height={24} src={NextJsLogo} alt="NextJS Logo" />
    </li>
    <li>
      <Image width={24} height={24} src={GoLogo} alt="GO Logo" />
    </li>
    <li>
      <Image width={24} height={24} src={PrismaLogo} alt="Prisma Logo" />
    </li>
  </ul>
</div>
<style></style>
